.NewspaperCard {
  width: 25%;
  padding: 10px;
  margin-bottom: 25px;
  text-align: center;
  background-color: #2e343f;
  color: white;
  border-radius: 30px;
  transition: transform 0.3s;
}

.NewspaperCard:hover {
  transform: scale(1.02, 1.02);
  box-shadow: 0 8px 16px 0 black;
  cursor: pointer;
}

.Name {
  font-size: 90%;
  color: #32e0c4;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 120%;
}

/* .button {
  background-color: #32e0c4;
  color: #eee;
  border: none;
  padding: 10px 24px;
  margin: 20px 10px 0px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #1bfad6;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
  background-color: #32e0c4;
  color: #eee;
  transform: translateY(4px);
} */
