.DrawerToggle {
  /* background-color: red; */
  width: 60px;
  height: 50px;
}

.DrawerToggle div {
  width: 90%;
  height: 5px;
  background-color: white;
  margin-bottom: 5px;
}

/* desktop view */
@media (min-width: 750px) {
  .DrawerToggle {
    display: none;
  }
}