.PageManager {
  display: flex;
  justify-content: center;
}

/* desktop view */ 
@media (min-width: 750px) {
  .PageManager {
    height: 100px;
  }
}

/* mobile view */
@media (max-width: 749px) {
  .PageManager {
    height: 75px;
  }
}