.header {
  font-size: 25px;
  text-align: center;
  background-color: #393e46;
  padding: 1px;
}

.search[type=text] {
  padding: 10px 15px;
  margin: 12px 8px 10px 245px;
  border: none;
  outline: none; 
  border-radius: 60px;
  background-color: #eee;
}

.search[type=text]:focus {
  background-color:  #393e46;
  color: white;
}

.submitBtn {
  background-color: #393e46;
  color: #eee;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  border-radius: 60px;
  cursor: pointer;
  outline: none;
/* 
  margin: 10px 10px; */
}

.submitBtn:hover {
  background-color: #222831;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.submitBtn:active {
  background-color: #222831;
  color: #eee;
  transform: translateY(4px);
}

.h1 {
  text-align: -webkit-center;
  font-size: 40px;
}

.h2 {
  text-align: -webkit-center;
}
