.header {
  font-size: 25px;
  text-align: center;
  /* background-color: #393e46; */
  background-color: #26292e;
  padding: 1px;
}

.form {
  /* margin: 0; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  /* margin-right: 0px;
  left: 819px;
  top: 416px; */
}

.input[type=text] {
  /* width: 100%; */
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  /* border: 1px solid #393e46; */
  border: 1px solid #17191c;
  outline: none; 
  border-radius: 30px;
  background-color: #eee;
}

.input[type=text]:hover {
  /* background-color: #393e46; */
  background-color: #26292e;
  border-bottom: 2px solid #32e0c4;
}

.input[type=text]:focus {
  /* background-color:  #393e46; */
  background-color: #26292e;
  border-bottom: 2px solid #32e0c4;
  color: white; 
  font-size: large;
}

.input[type=password] {
  /* width: 100%; */
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  /* border: 1px solid #393e46; */
  border: 1px solid #17191c;
  outline: none; 
  border-radius: 30px;
  background-color: #eee;
}

.input[type=password]:hover {
  /* background-color: #393e46; */
  background-color: #26292e;
  border-bottom: 2px solid #32e0c4;
}

.input[type=password]:focus {
  /* background-color:  #393e46; */
  background-color: #26292e;
  border-bottom: 2px solid #32e0c4;
  color: white;
  font-size: large;
}

.submitBtn {
  background-color: #32e0c4;
  color: #eee;
  border: none;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}

.submitBtn:hover {
  background-color: #1bfad6;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.submitBtn:active {
  background-color: #32e0c4;
  color: #eee;
  transform: translateY(4px);
}
