.nav {
  background-color: #32e0c4;
  height: 30%;
  overflow: hidden;
  padding: 15px 10px;
  margin: 0;
}

.ul {
  margin: 0;
  padding: 0;
}

li {
  list-style:none;
}

/* click down effect */
li:active {
  transform: translateY(4px);
}

/* sticky Nav */
@media (min-height: 300px) {
  .nav {
    position: sticky;
    top: 0;
  }
}
