.header {
  font-size: 25px;
  text-align: center;
  /* background-color: #393e46; */
  background-color: #26292e;
  padding: 1px;
}

.sourceCard {
  height: 500px;
  width: 26%;
  margin: 50px auto;
  padding: 15px;
  text-align: center;
  /* background-color: #393e46; */
  background-color: #26292e;
  color: #eee;
  border-radius: 30px;

  order: 3;
  flex-basis: auto; 
}

.sourceCard:hover {
  /* transform: translateY(-60px); */
  /* transform: scale(1.15, 1.15); */
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  box-shadow: 0 8px 16px 0 black;

}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.h2 {
  text-align: -webkit-center;
  font-size: 60px;
}

.info {
  font-size: larger;
}

.h4 {
  font-size: 40px;
}

.h4:hover {
  cursor: pointer;
}

a {
  text-decoration-line: none;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background-color: white;
}

.img {
  cursor: pointer;
}

.a:link {
  color: #32e0c4;
}

.a:visited {
  color: #32e0c4;
}

.h3 {
  text-align: -webkit-center;
  font-size: 40px;
}

.link {
  color: #32e0c4;
}

.h5 {
  text-align: -webkit-center;
  font-size: 50px;
}
