.Articles {
  display: flex;
  margin: 0 auto;
  padding: 25px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* wide desktop view */
@media (min-width: 1300px) {

}

/* desktop view */
@media (max-width: 1299px) {
 
}