.Collection {
  color: #eee;
  background-color: #2e343f;
  border: 3px solid white;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}

.PageManager {
  align-self: center;
  padding: 10px;
  margin-right: 10px;
  border-radius: 30px;
  border: 3px solid white;
  background-color: #26292e;
  color: #eee;
  padding: 10px 20px;
  font-size: 105%;
  cursor: pointer;
  outline: none;
}
.PageManager:hover {
  border: 3px solid #32e0c4;
}

/* desktop view */
@media (min-width: 750px) {
  .Collection {
    padding: 10px 20px;
    font-size: 90%;
  }

  .Collection:hover {
    color: white;
    border: 3px solid #32e0c4;
  }
}

/* mobile view */
@media (max-width: 749px) {
  .Collection {
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 70%;
  }
}