.Button {
  color: #eee;
  background-color: #2e343f;
  border: 2px solid#eee;
  cursor: pointer;
  outline: none;
  border-radius: 30px;
  transition: border 0.3s;
}

.Collection {
  margin-bottom: 20px;
  margin: initial;
}

.PageManager {
  align-self: center;
  margin-right: 10px;
}

.Modal {
  margin-right: 85%;
}

.Search {
  background-color: #32e0c4;
  border: 2px solid transparent;
  text-decoration: none;
  margin-left: 5px;
  color: #eee;
  transition: border color 0.3s;
}

.Button:hover {
  border: 2px solid #32e0c4;
}

.Search:hover {
  color: #2e343f;
  border: 2px solid #eee;
}

/* wide desktop view */
@media (min-width: 1300px) {
  .Button {
    padding: 10px 20px;
  }

  .Search {
    padding: 8px 15px;
    font-size: 90%;
  }

  .Collection {
    font-size: 85%;
  }

  .PageManager {
    font-size: 105%;
  }
}

/* desktop view */
@media (max-width: 1299px) {
  .Button {
    padding: 8px 15px;
  }

  .Search {
    padding: 7px 10px;
    font-size: 80%;
  }

  .Collection {
    font-size: 85%;
  }

  .PageManager {
    font-size: 100%;
  }
}

/* mobile view */
@media (max-width: 649px) {
  .Collection {
    padding: 10px 15px;
    font-size: 70%;
  }

  .PageManager {
    font-size: 90%;
  }
}