.Collection {
  color: #eee;
  background-color: #2e343f;
  border: 3px solid #32e0c4;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}

.Tweet {
  background-color: #2e343f;
  border: 3px solid #1DA1F2;
  border-radius: 30px;
  margin-left: 10px;
  color: #eee;
  margin-bottom: 20px;
}

/* desktop view */
@media (min-width: 750px) {
  .Collection, .Tweet {
    padding: 10px 20px;
    font-size: 100%;
  }

  .Collection:hover {
    background-color: #5cfae0;
    color: white;
  }

  .Collection:active {
    background-color: #32e0c4;
    color: #eee;
    transform: translateY(2px);
  }

  .Tweet:hover {
    color: white;
    background-color: #49b6ff;
  }
}

/* mobile view */
@media (max-width: 749px) {
  .Collection, .Tweet {
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 80%;
  }
}