.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.UsernameContainer, .PasswordContainer {
  width: 50%;
  margin: 0 auto;
}

.UsernameContainer input, .PasswordContainer input, .Submit {
  width: 100%;
  margin-top: 5px;
  padding: 12px;
  border: 2px solid transparent;
  outline: none; 
  border-radius: 30px;
  background-color: #eee;
}

.UsernameContainer input, .PasswordContainer input {
  transition: border 0.3s;
}

.Submit {
  transition: background-color 0.3s;
}

.UsernameContainer input:hover, 
.UsernameContainer input:focus, 
.PasswordContainer input:hover,
.PasswordContainer input:focus {
  border: 2px solid #32e0c4;
}

.UsernameContainer input:focus, 
.PasswordContainer input:focus,
.Submit,
.Submit:active {
  color: #eee;
}

.UsernameContainer input:focus, .PasswordContainer input:focus {
  background-color: #26292e;
}

.Submit, .Submit:active {
  background-color: #32e0c4;
}

.Submit {
  border: none;
  padding: 10px;
  font-size: 100%;
  cursor: pointer;
  margin: 0 auto;
}

.Submit:hover {
  background-color: #1bfad6;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* wide desktop view */
@media (min-width: 1300px) {
  .Form {
    width: 30%;
    margin: 10% auto;
  }

  .Submit {
    width: 20%;
  }
}

/* desktop view */
@media (max-width: 1299px) {
  .Form {
    width: 45%;
    margin: 15% auto;
  }

  .Submit {
    width: 20%;
  }
}

/* mobile portrait view */
@media (max-width: 649px) {
  .Form {
    width: 70%;
    margin: 20% auto;
  }

  .UsernameContainer, .PasswordContainer {
    width: 75%;
  }

  .Submit {
    width: 35%;
  }

  .UsernameContainer, .PasswordContainer, .Submit {
    font-size: 90%;
  }
}
