.Nav {
  display: flex;
  background: #32e0c4;
  padding: 10px;
  align-items: center;
}

/* Search */
.Nav div {
  margin-left: 45%;
}

.ListItem a {
  text-decoration: none;
  border: 2px solid #32e0c4;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: border 0.3s;
}

/* desktop view */
@media (min-width: 750px) {
  .NavLinks {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    margin-left: auto;
    padding: 1rem;
  }

  .ListItem a {
    font-size: 125%;
    padding: 10px 20px;
  }

  .ListItem a:hover {
    border: 2px solid white;
    color: #26292e;
  }
}

/* mobile view */
@media (max-width: 749px) {
  .SideDrawerNav {
    width: 100%;
  }

  .SideDrawerNavLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 15px;
    height: 40%;
  }

  .ListItem a {
    font-size: 115%;
    background-color: transparent;
    border: 2px solid #32e0c4;
    padding: 15px;
    border-radius: 30px;
  }

  .NavLinks {
    display: none;
  }
}