.Nav {
  display: flex;
  background: #32e0c4;
  padding: 10px;
  align-items: center;
}

.NavLinks {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  margin-left: auto;
  padding: 1rem;
}

.ListItem a {
  text-decoration: none;
  border: 2px solid #32e0c4;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: border 0.3s;
}

.ListItem a:hover {
  border: 2px solid white;
  color: #26292e;
}

/* wide desktop view */
@media (min-width: 1300px) {
  /* Search bar */
  .Nav div {
    margin-left: 40%;
  }

  .ListItem {
    font-size: 115%;
    margin-right: 5px;
  }

  .ListItem a {
    padding: 10px;
  }
}

/* desktop view */
@media (max-width: 1299px) {
  .Nav div {
    margin-left: 15%;
  }

  .ListItem {
    font-size: 110%;
    /* padding: 5px; */
  }

  .ListItem a {
    padding: 10px;
  }
}

/* mobile portrait view */
@media (max-width: 649px) {
  .SideDrawerNav {
    width: 100%;
  }

  .SideDrawerNavLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 15px;
    height: 40%;
  }

  .ListItem a {
    font-size: 115%;
    background-color: transparent;
    border: 2px solid #32e0c4;
    padding: 15px;
    border-radius: 30px;
  }

  .NavLinks {
    display: none;
  }
}
