.ArticleCard {
  margin-bottom: 25px;
  text-align: center;
  background-color: #2e343f;
  color: white;
  border-radius: 30px;
}

.ArticleCard img {
  width: 100%;
  background-color: #17191c;
}

.Collection {
  background-color: #32e0c4;
  color: #eee;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}

.Tweet {
  background-color: #1DA1F2;
  border: none;
  border-radius: 30px;
  margin-left: 10px;
  color: #eee;
  margin-bottom: 20px;
}

.a {
  color: white;
  text-decoration: none;
}

/* desktop */
@media (min-width: 750px) {
  .ArticleCard {
    width: 30%;
  }

  .ArticleCard:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
  }

  .ArticleCard h2 {
    font-size: 120%;
    width: 75%;
    margin: 0 auto;
    padding: 25px;
  }

  .ArticleCard p {
    font-size: 90%;
    width: 75%;
    margin: 0 auto;
    padding: 15px;
  }

  .ArticleCard img {
    height: 350px;
  }

  .Collection, .Tweet {
    padding: 10px 20px;
    font-size: 100%;
  }

  .Collection:hover {
    background-color: #5cfae0;
    color: white;
  }

  .Collection:active {
    background-color: #32e0c4;
    color: #eee;
    transform: translateY(2px);
  }

  .Tweet:hover {
    color: white;
    background-color: #49b6ff;
  }
}

/* mobile view */ 
@media (max-width: 749px) {
  .ArticleCard {
    width: 100%;
  }
  
  .ArticleCard h2 {
    font-size: 90%;
    width: 90%;
    padding: 20px;
  }
  
  .ArticleCard p {
    font-size: 90%;
    width: 80%;
    padding: 20px;
  }

  .ArticleCard img {
    height: 200px;
  }

  .Collection {
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 80%;
  }
}