.ArticleCard {
  margin-bottom: 25px;
  text-align: center;
  background-color: #2e343f;
  color: white;
  border-radius: 30px;
}

.ArticleCard img {
  width: 100%;
  background-color: #17191c;
}

.a {
  color: white;
  text-decoration: none;
}

.Actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* desktop */
@media (min-width: 750px) {
  .ArticleCard {
    width: 30%;
  }

  .ArticleCard:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
  }

  .ArticleCard h2 {
    font-size: 120%;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
  }

  .ArticleCard p {
    font-size: 80%;
    width: 75%;
    margin: 0 auto;
    padding: 25px 15px 35px 15px;
  }

  .ArticleCard img {
    height: 350px;
  }
}

/* mobile view */ 
@media (max-width: 749px) {
  .ArticleCard {
    width: 100%;
  }
  
  .ArticleCard h2 {
    font-size: 90%;
    width: 90%;
    padding: 20px;
  }
  
  .ArticleCard p {
    font-size: 90%;
    width: 80%;
    padding: 20px;
  }

  .ArticleCard img {
    height: 200px;
  }
}