.ArticleCard {
  margin-bottom: 25px;
  text-align: center;
  background-color: #2e343f;
  color: white;
  border-radius: 30px;
  transition: transform 0.3s;
}

.ArticleCard h2 {
  margin: 0 auto;
  padding: 25px;
}

.ArticleCard p {
  margin: 0 auto;
  padding: 25px;
}

.ArticleCard img {
  width: 100%;
  background-color: #17191c;
  object-fit: cover;
}

.Actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0;
  border-top: 1px solid #32e0c4;
}

/* widescreen desktop view */
@media (min-width: 1300px) {
  .ArticleCard {
    width: 30%;
  }

  .ArticleCard:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
  }

  .ArticleCard h2 {
    font-size: 120%;
    width: 75%;
  }

  .ArticleCard p {
    font-size: 80%;
    width: 75%;
  }

  .ArticleCard img {
    height: 300px;
  }
}

/* mobile landscape view */
@media (max-width: 799px) {
  .ArticleCard {
    width: 45%;
  }

  .ArticleCard h2 {
    font-size: 85%;
  }

  .ArticleCard p {
    font-size: 65%;
  }

  .ArticleCard img {
    height: 250px;
  }
}

/* mobile portrait view */ 
@media (max-width: 649px) {
  .ArticleCard {
    width: 100%;
  }
  
  .ArticleCard h2 {
    font-size: 90%;
  }
  
  .ArticleCard p {
    font-size: 80%;
  }

  .ArticleCard img {
    height: 200px;
  }
}