.SourceSection, .SourceCards, .SourceCard {
  display: flex;
  flex-direction: column;
}

.SourceSection, .SourceCards {
  margin: 0 auto;
}

.SourceSection, .SourceCard {
  align-items: center;
  margin-bottom: 25px;
}

.SourceCards {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.SourceCard {
  width: 40%;
  border-radius: 30px;
  background-color: #2e343f;
  margin-top: 25px;
  transition: transform 0.3s;
}

.SourceCard:hover {
  transform: scale(1.02, 1.02);
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
}

.SourceCard img {
  height: 200px;
  width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.SourceCard img:hover {
  cursor: pointer;
}

.SourceCard p {
  font-size: 75%;
  height: 75px;
  padding: 8px 12px;
}

.SourceCard a {
  font-size: 75%;
  text-decoration: none;
  color: #32e0c4;
  height: 50px;
}

.SourceCard a:hover {
  color: white;
}

/* widescreen desktop view */
@media (min-width: 1300px) {
  .SourceSection, .SourceCards {
    width: 75%;
  }
}

/* desktop view */
@media (max-width: 1299px) {
  .SourceSection, .SourceCards {
    width: 90%;
  }

  .SourceCard p {
    font-size: 70%;
  }

  .SourceCard a {
    font-size: 70%;
  }

  .SourceCard img {
    height: 150px;
  }
}
