.Search {
  /* background-color: red; */
  width: 30%;
}

.Search input {
  padding: 10px 20px;
  width: 50%;
  border: 2px solid #eee;
  outline: none; 
  border-radius: 30px;
  background-color: transparent;
  color: #eee;
  font-size: 100%;
  transition: background-color 0.3s;
}

.Search input:hover {
  background-color: #20d1b4;
}

.Search input:focus {
  background-color: #20d1b4;
}