.Search {
  /* background-color: red; */
  width: 30%;
}

.Search input {
  padding: 15px;
  width: 50%;
  border: none;
  outline: none; 
  border-radius: 30px;
  background-color: #222831;
  color: #32e0c4;
  font-size: 100%;
  transition: background 0.3s;
}

.Search input:hover {
  background-color: #2c323b;
}

.Search input:focus {
  background-color: #2c323b;
}