.Search input {
  border: 2px solid #eee;
  outline: none; 
  border-radius: 30px;
  background-color: transparent;
  color: #eee;
  transition: background-color 0.3s;
}

.Search input:hover {
  background-color: #20d1b4;
}

.Search input:focus {
  background-color: #20d1b4;
}

/* wide desktop view */
@media (min-width: 1300px) {
  .Search {
    width: 25%;
  }

  .Search input {
    padding: 8px 15px;
    font-size: 100%;
  }
}

/* desktop view */
@media (max-width: 1299px) {
  .Search {
    width: 30%;
  }

  .Search input {
    padding: 7px 10px;
    font-size: 85%;
  }
}
